@import "../../shared/assets/scss/variable";

.create-device {
  .create-device-wrapper {
    .action-container {
      margin-top: 24px;
      .action-form {
        .btn-cancel {
          width: 147px;
          height: 48px;
          background: #fff2e7;
          border: 1.5px solid #ff9138;
          box-shadow: 0px 0px 6px #e7e9f2;
          border-radius: 8px;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: #ff9138;
        }
        .btn-add {
          width: 147px;
          height: 48px;
          background: #ff9138;
          box-shadow: 0px 0px 6px #e7e9f2;
          border-radius: 8px;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: #ffffff;
        }
      }
    }
    .create-device-title {
      padding: 24px 0 0 24px;
      p {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #ff7506;
      }
    }
    .create-device-container {
      margin-left: 24px;
      width: 1152px;
      height: 535px;
      background: #ffffff;
      box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
      border-radius: 16px;
      .create-device-title-info {
        padding: 12px 0 0 24px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #ff7506;
      }
      .create-device-form {
        margin: 0 24px 24px 24px;
        .required {
          padding-top: 12px;
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #7e7d88;
            span {
              color: red;
            }
          }
        }
        .create-device-form-item-select {
          .form-item-select {
            background-color: #ffffff;
          }

          .select {
            padding-top: 8px;
            .ant-select-lg {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #a9a9b0;
            }
            .ant-select {
              width: 540px !important;

              .ant-select-arrow {
                color: $primary-color-btn;
              }
            }
            .ant-select-selector {
              border-radius: 8px !important;
            }
          }
          .select-label {
            .required {
              color: red;
            }
            span {
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #282739;
              span {
                padding-left: 3px;
              }
            }
          }
        }
        .select-service-usage {
          .ant-select {
            width: 1104px !important;
          }

          .ant-select-selector {
            width: 1104px;
            background: #ffffff;
            border: 1.5px solid #ffac6a;
            border-radius: 8px;
          }
          .ant-select-selection-item {
            display: flex;
            align-items: center;
            height: 30px;
            background: #ffac6a;
            box-shadow: 0px 0px 6px #e7e9f2;
            border-radius: 9px;

            span {
              color: white;
            }
          }
        }
        .create-device-form-item {
          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #282739;
            span {
              // color: red;
              padding-left: 3px;
            }
          }
          .required {
            color: red;
          }
          p {
            padding-left: 3px;
            // color: red;
          }

          .form-item-input-service {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #a9a9b0;
            margin-top: 8px;
            width: 1104px;
            height: 44px;
            background: #ffffff;
            border: 1.5px solid #d4d4d7;
            border-radius: 8px;
          }
          .form-item-input {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #a9a9b0;
            margin-top: 8px;
            width: 540px;
            height: 44px;
            background: #ffffff;
            border: 1.5px solid #d4d4d7;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
