@import "~antd/dist/antd.css";
.App {
  height: 100vh;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  background: #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #535261;
}
